.item {
    margin-top: 5px;
    cursor: pointer;
}

.content {
    padding: 10px 10px;
    // border-bottom: 1px solid #ccc;
}
.item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.titleItem {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}

.timegroup {
    padding-right: 0px;
}
.money {
    font-size: 25px;
    color: var(--primary-color);
}

.oldprice {
    text-decoration-line: line-through;
}

.newprice {
    margin-top: 15px;
    color: #00acc1;

    font-style: normal;
    line-height: normal;
}
